<link rel="stylesheet" href="{{ url_for('webagg.static', path='css/page.css') }}" type="text/css">
<link rel="stylesheet" href="{{ url_for('webagg.static', path='css/boilerplate.css') }}" type="text/css">
<link rel="stylesheet" href="{{ url_for('webagg.static', path='css/fbm.css') }}" type="text/css">
<link rel="stylesheet" href="{{ url_for('webagg.static', path='css/mpl.css') }}" type="text/css">
<script src="{{ url_for('webagg.mpl_js') }}"></script>
<script src="{{ url_for('webagg.mpl_figure_js') }}"></script>
